.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto 1rem;
}

.gameboard__ctn__ctn {
  flex: 1;
}

.gameboard__header {
  text-align: center;
  padding: 1rem;
  margin-bottom: 1rem;
  white-space: nowrap;
}
.gameboard {
  /* border: 1px solid red; */
  width: calc(50vw - 1rem);
  height: calc(50vw - 1rem);
  max-width: 50rem;
  max-height: 50rem;
  background: url('./../assets/img/battleship.png') center/cover no-repeat red;
}

.gameboard[data-ai] {
  cursor: crosshair;
}
